#caja{
    background: blue;
    border-radius: 5px;
    box-shadow: 8px 8px 8px black;
    color: white;
    display: none;
    padding: 10px;
    text-align: center;
    width: 150px;
}
#foto{
    border-radius: 100px;
    box-shadow: 8px 8px 8px black;
}